
.main{
  display: flex;
  justify-content: center;
}
.v-box{
  display: flex;
  flex-direction: column;
}
.title{
  display: flex;
  justify-content: center;
}
.v-box h1{
  text-align: center;
}
.container{
  align-items: center;
  width: 800px;
  height: 500px;
  display: flex;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  justify-content: space-evenly;
  border-radius: 25px;
}

.image-box img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.title{
  background-color: blue;
}
.center{
  display: flex;
  justify-content: center;
}
