
.main{
  display: flex;
  justify-content: center;
}
.v-box{
  display: flex;
  flex-direction: column;
}
.title{
  display: flex;
  justify-content: center;
}
.container{
  align-items: center;
  width: 800px;
  height: 500px;
  background-color: red;
  display: flex;
  background-color: red;
  justify-content: space-evenly;
}

.image-box img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.title{
  background-color: blue;
}